OPSSLATE_DOCKER_NETWORK=media_network
HAC_CONFIG_PATH=/config/jobs.yml
HAC_STATUS_ROOT=/status
OPSSLATE_WEBUI_URL=http://192.168.0.42:8099
OPSSLATE_ICON_URL=https://raw.githubusercontent.com/EdeAbreu23/unraid-templates/main/images/opsslate-icon.png
